HR & Internal document Agent/HR_and_SOP_assistant_agent (1).json
{
  "name": "HR and SOP assistant agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/4/folders/1NEkX7Oh2mju4jM4b9GoHVOA0h1-68pR5",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1660,
        -140
      ],
      "id": "a96f2685-155a-45fc-9642-af9337da67d3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wq8X8P1trymvuHHD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1440,
        -140
      ],
      "id": "9f58ecd0-a4d4-4b99-a304-a13287aabc68",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wq8X8P1trymvuHHD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "assistant",
          "mode": "list",
          "cachedResultName": "assistant"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -1220,
        -140
      ],
      "id": "a011111c-ae98-4b24-a39f-91e602a58612",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "O5ovJPv0aCnYkUQm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -1200,
        100
      ],
      "id": "c8b12381-d4ee-46ea-b55c-4c4fffdf35e5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xwpvHhx5sgh5rnzw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1060,
        60
      ],
      "id": "e53dabc0-e0c8-4a3e-8d21-f1e34863e4a9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1000,
        300
      ],
      "id": "9b2c3cd2-3cec-4d1c-a5e2-bfd6301676b4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C08ADS36AAH",
          "mode": "list",
          "cachedResultName": "all-n8n-project-team"
        },
        "options": {
          "userIds": "=U08ADUEN8G5"
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        -140
      ],
      "id": "d0dfaa7f-148e-425d-bbd7-c63439e99274",
      "name": "Slack Trigger",
      "webhookId": "3213fc0f-7a48-46e9-a6c7-9b7391f7bf3c",
      "credentials": {
        "slackApi": {
          "id": "lBgSy9H6T9gSjM4w",
          "name": "Slack account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        -200,
        -140
      ],
      "id": "8a640c01-9285-47c2-96be-a1191e4e86aa",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -220,
        80
      ],
      "id": "1087673b-66a8-45b7-a032-5940036f801f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xwpvHhx5sgh5rnzw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -60,
        40
      ],
      "id": "320f22e1-a2fc-41d2-8cd3-9a74c212748c",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "assistant",
          "mode": "list",
          "cachedResultName": "assistant"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        140,
        200
      ],
      "id": "1aed8254-40c0-4c3d-b088-a36617001866",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "O5ovJPv0aCnYkUQm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "2cc7e77f-9c08-4f50-99bf-4b23d2b88d8e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "xwpvHhx5sgh5rnzw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08ADS36AAH",
          "mode": "list",
          "cachedResultName": "all-n8n-project-team"
        },
        "text": "={{ $json.response.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        160,
        -140
      ],
      "id": "4993be92-ebd1-4007-aecc-24decaec1215",
      "name": "Slack",
      "webhookId": "991c1848-0b46-449e-bac4-ba41fc6a1008",
      "credentials": {
        "slackApi": {
          "id": "lBgSy9H6T9gSjM4w",
          "name": "Slack account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "Other Platforms: Telegram , Whatsapp",
        "height": 80,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        -120
      ],
      "typeVersion": 1,
      "id": "4df0c4ac-1ec8-4b0b-9d7d-5d82f27de463",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c4f3211-575a-4fca-b839-55a763defabe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d48156aee6bf3e0b7a52ef98fc69ae0a80f31447972eca09500432da1cd445cc"
  },
  "id": "DcajZRQKe9L5aNqh",
  "tags": []
}